{% load static %}
<!doctype html>
<html lang="en-US">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{{ config.siteName }}</title>
        <link rel="icon"  type="image/png"  href="{% static 'images/' %}{{ config.siteLogo }}">
        <link rel="stylesheet" href="{% static 'bootstrap/css/' %}bootstrap.min.css">
        <link rel="stylesheet" href="{% static 'css/' %}{{ config.siteCSS }}">
        {% block additionalCSS %}{% endblock %}
        <script src="{% static 'bootstrap/js/' %}bootstrap.bundle.min.js"></script>
    </head>
    <body>
        <div class="header">
            <img src="{% static 'images/' %}{{ config.homeIcon }}" alt="Home" onclick="location.href='{{ config.homeUrl }}';">
            <h1>{{ config.siteName }} {{ config.eventDate|date:'d.m.Y' }}</h1>
        </div>
        <div class="main">
            {% include 'menu.html' %}
            {% block menu %}{% endblock %}
            {% block content %}{% endblock %}
        </div>
        <div class="footer">
            <div class="footer_sponsor_logo">
                {% if config.sponsorLogo %}
                    <img src="{% static 'images/' %}{{ config.sponsorLogo }}" alt="{{ config.sponsorName }}">
                {% endif %}
            </div>
            <div class="footer_owner_logo">
                {% if config.ownerLogo %}
                    <img src="{% static 'images/' %}{{ config.ownerLogo }}" alt="{{ config.ownerName }}">
                {% endif %}
            </div>
        </div>
    </body>
</html>
