{% extends 'main.html' %}
{% load static %}

{% block additionalCSS %}
    <link rel="stylesheet" href="{% static 'css/' %}{{ config.timetableNavigationCSS }}">
    <link rel="stylesheet" href="{% static 'css/' %}{{ config.timetablePageCSS }}">
{% endblock %}

{% block content %}
<div class="content">
    <div class="timetable_settigs">
        <div class="timetable_header">
            <h2>{{ config.timetableSettingsHeader }}</h2>
        </div>
        {% for col in controls %}
            <div class="timetable_settings_controls">
                {% for c in col %}
                    <div class="control">
                        <form method="POST" action="" id="settings_form">
                            {% csrf_token %}
                            <label for="{{ c.id }}">{{ c.name }}</label>
                            <input type="{{ c.type }}" id="{{ c.id }}" name="{{ c.id }}" value="{% if c.type == 'time' %}{{ c.value|time:'H:i' }}{% else %}{{ c.value }}{% endif %}" {% if c.min %}min="{{ c.min }}"{% endif %} {% if c.max %}max="{{ c.max }}"{% endif %} onchange="this.form.submit()">
                        </form>
                    </div>
                {% endfor %}
            </div>
        {% endfor %}
        <div class="refresh_timetable">
            <form method="POST" action="" id="none_form">
                {% csrf_token %}
                <button type="submit" name="refresh_times" value="Refresh" class="btn btn_refresh_times">
                    <img src="{% static 'images/' %}{{ config.refreshTimetableIcon }}" alt="refresh_times">
                    <p>{{ config.refreshTimetableText }}</p>
                </button>
                <button type="submit" name="create_timetable" value="Create" class="btn btn_create_timetable" onclick="return confirm('{{ config.warningCreateTimetable }}');">
                    <img src="{% static 'images/' %}{{ config.createTimetableIcon }}" alt="create_timetable">
                    <p>{{ config.createTimetableText }}</p>
                </button>
            </form>
        </div>
    </div>
    <div class="timetable_header">
        <h2>{{ config.timetableHeader }}</h2>
    </div>
    {% for entry in timetable %}
        <div class="timetable">
            <div class="tt_event_block">
                <div class="time">{{ entry.time|time:'H:i'}}</div>
                <div class="tt_content">
                    <div class="desc">{{ entry.desc }}</div>
                </div>
            </div>
            {% if entry.races %}
                <div class="tt_race_block tt_race_header">
                    <div class="time">{{ config.timetableHeaderTime }}</div>
                    <div class="tt_content tt_hdr_content">
                        <div class="desc">{{ config.timetableHeaderName }}</div>
                        <div class="lanes">
                            <div class="lane">
                                <div class="number">{{ config.timetableHeaderLane }}</div>
                                <div class="team">{{ config.timetableHeaderTeam }}</div>
                                <div class="company">{{ config.timetableHeaderCompany }}</div>
                            </div>
                        </div>
                    </div>
                </div>
                {% for race in entry.races %}
                    <div class="tt_race_block">
                        <div class="time">{{ race.time|time:'H:i' }}</div>
                        <div class="tt_content">
                            <div class="desc">{{ race.desc }}</div>
                            <div class="lanes">
                                {% for lane in race.lanes %}
                                <div class="lane">
                                    <div class="number">{{ lane.lane }}</div>
                                    <div class="team">{{ lane.team }}</div>
                                    <div class="company">{{ lane.company }}</div>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% endif %}
        </div>
    {% endfor %}
</div>
{% endblock %}
