{% extends 'main.html' %}
{% load static %}
{% load filter_tags %}

{% block additionalCSS %}
    <link rel="stylesheet" href="{% static 'css/' %}{{ config.calendarPageCSS }}">
{% endblock %}

{% block additionalJS %}
    <script language="JavaScript" src="{% static 'js/' %}{{config.calendaarPageJS}}" type="text/javascript"></script>
{% endblock %}

{% block content %}
    <div class="container-fluid" id="calendar_table">
        <h2 class="mt-2 mb-2 display-6">{{ config.calendarTitle }}</h2>
        <div class="container-fluid m-0 p-0">

        </div>
    </div>

    <div class="container-fluid overscroll"></div>
{% endblock %}
