{% extends 'main.html' %}
{% load static %}
{% load filter_tags %}

{% block additionalCSS %}
    <link rel="stylesheet" href="{% static 'css/' %}{{ config.calendarPageCSS }}">
{% endblock %}

{% block additionalJS %}
    <script language="JavaScript" src="{% static 'fullcalendar/dist/' %}index.global.min.js" integrity="sha384-ls6XEDoNosgdfFfcQMf/sZbXZHuWBCIXPV/lxwjlR7aUbooYZRAOwtuLufn3a4xy" crossorigin="anonymous"></script>
    <script language="JavaScript" src="{% static 'fullcalendar/packages/bootstrap5/' %}index.global.min.js" integrity="sha384-+8RA3XmEfisyL9yeAMcPoOT+GZUN3Ec0/nWvKZAzLwc+IOZjB90PXfjKgeMJ6LEi" crossorigin="anonymous"></script>
    <script language="JavaScript" src="{% static 'js/' %}{{config.calendarPageJS}}" type="text/javascript"></script>
    {{ content | json_script:"calendar-data" }}
{% endblock %}

{% block content %}
    <div class="container-fluid" id="calendar_page">
        <div class="container-fluid flex-nowrap mt-2 mb-3 p-0">
            <div class="row m-0">
                <div class="col p-0">
                    <h2 class="d-flex flex-nowrap align-items-center justify-content-lg-start display-6 m-0">{{ config.calendarTitle }}</h2>
                </div>
                {% if user.is_staff or config.activateCalendarDetails %}
                    <div id="filter-selector" class="col p-0 d-flex flex-nowrap align-items-center justify-content-lg-end">
                        <div class="btn-group dropdown h-100">
                            {% if user.is_staff %}
                                <button class="btn {% if selectedSkipper %}btn-primary{% else %}btn-outline-primary{% endif %} d-flex dropdown-toggle align-items-center dropdown-toggle-split" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    {% if selectedSkipper %}
                                        <div class="col m-0 lh-1 small">
                                            <div class="row m-0 p-0 fw-bold">{{ config.skipper }}</div>
                                            <div class="row m-0 p-0">{{ selectedSkipper.name }}</div>
                                        </div>
                                    {% else %}
                                        {{ config.skipper }}
                                    {% endif %}
                                </button>
                                <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="#" onclick="select_filter({% if selectedTeam %}{{ selectedTeam.id }}{% else %}undefined{% endif %}, undefined); return false;">{{ config.calendarSelectAllSkippersText }}</a></li>
                                <li><hr class="dropdown-divider"></li>
                                {% for skipper in skippers %}
                                    <li><a class="dropdown-item" href="#" onclick="select_filter({% if selectedTeam %}{{ selectedTeam.id }}{% else %}undefined{% endif %}, {{ skipper.id }}); return false;">{{ skipper.name }}</a></li>
                                {% endfor %}
                                </ul>
                            {% endif %}

                            <button class="btn {% if selectedTeam %}btn-primary{% else %}btn-outline-primary{% endif %} d-flex dropdown-toggle align-items-center" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                {% if selectedTeam %}
                                    <div class="col m-0 lh-1 small">
                                        <div class="row m-0 p-0 fw-bold">{{ config.teamTableHeaderTeam }}</div>
                                        <div class="row m-0 p-0">{{ selectedTeam.name }}</div>
                                    </div>
                                {% else %}
                                    {{ config.teamTableHeaderTeam }}
                                {% endif %}
                            </button>
                            <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#" onclick="select_filter(undefined, {% if selectedSkipper %}{{ selectedSkipper.id }}{% else %}undefined{% endif %}); return false;">{{ config.calendarSelectAllTeamsText }}</a></li>
                            <li><hr class="dropdown-divider"></li>
                            {% for team in teams %}
                                <li><a class="dropdown-item" href="#" onclick="select_filter({{ team.id }}, {% if selectedSkipper %}{{ selectedSkipper.id }}{% else %}undefined{% endif %}); return false;">{{ team.name }}</a></li>
                            {% endfor %}
                            </ul>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
        <div class="container-fluid m-0 p-0 h-100">
            <div id='full-calendar'></div>
        </div>
    </div>

    <div class="container-fluid overscroll"></div>
{% endblock %}
