{% extends 'main.html' %}
{% load static %}
{% load filter_tags %}

{% block additionalCSS %}
    <link rel="stylesheet" href="{% static 'css/' %}{{ config.displayPageCSS }}">
{% endblock %}

{% block additionalPreJS %}
    <script type="text/javascript">var displayDataRefresh = "{{ config.displayDataRefresh }}";</script>
{% endblock %}

{% block additionalJS %}
    <script type="text/javascript" src="{% static 'js/' %}display.js"></script>
{% endblock %}

{% block content %}
    <div id="resultsCarousel" class="carousel slide carousel-fade h-100 w-100" data-bs-ride="carousel">
        <div class="carousel-indicators float-bottom">
            {% for entry in display %}
                <button type="button" data-bs-target="#resultsCarousel" data-bs-slide-to="{{ forloop.counter0 }}" class="{% if forloop.counter == 1 %}active{% endif %}"></button>
            {% endfor %}
            <div class="m-{{ config.overscan }}"></div>
        </div>
        <div class="carousel-inner d-flex h-100">
            {% for entry in display %}
                <div class="carousel-item d-flex flex-column{% if forloop.counter == 1 %} active{% endif %}" data-bs-interval="{{ config.displayInterval }}">
                    <div class="flex-grow-1"></div>
                    <div class="flex-column px-5">
                        {% if entry.type == 'timetable' %}
                            <div class="container-fluid{% if config.overscan > 3 %} fs-6{% else %} fs-5{% endif %}">
                                {% if entry.data.races %}
                                    {% with entry=entry.data %}
                                        {% block results_races %}
                                            {% include 'results_races.html' %}
                                        {% endblock %}
                                    {% endwith %}
                                {% endif %}
                            </div>
                        {% elif entry.type == 'rankingHeats' %}
                            <div class="container-fluid{% if config.overscan > 3 %} fs-6{% else %} fs-5{% endif %}">
                                {% block rankings_heats %}
                                    {% include 'results_heats_rankings.html' %}
                                {% endblock %}
                            </div>
                        {% elif entry.type == 'rankingFinals' and entry.ranks|length %}
                            <div class="container-fluid{% if config.overscan > 3 %} fs-6{% else %} fs-5{% endif %}">
                                {% block rankings_finale %}
                                    {% include 'results_final_rankings.html' %}
                                {% endblock %}
                            </div>
                        {% endif %}
                    </div>
                    <div class="flex-grow-1"></div>
                    <div class="flex-column bg-dark">
                        <div class="m-{{ config.overscan }} mt-0"></div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
