{% extends 'main.html' %}
{% load static %}
{% load filter_tags %}

{% block additionalCSS %}
    <link rel="stylesheet" href="{% static 'css/' %}{{ config.displayPageCSS }}">
{% endblock %}

{% block additionalPreJS %}
    <script type="text/javascript">var displayDataRefresh = "{{ config.displayDataRefresh }}";</script>
{% endblock %}

{% block additionalJS %}
    <script type="text/javascript" src="{% static 'js/' %}display.js"></script>
{% endblock %}

{% block content %}
    <div id="resultsCarousel" class="carousel slide carousel-fade h-100 w-100" data-bs-ride="carousel">
        <div class="carousel-indicators float-bottom">
            {% for entry in display %}
                <button type="button" data-bs-target="#resultsCarousel" data-bs-slide-to="{{ forloop.counter0 }}" class="{% if forloop.counter == 1 %}active{% endif %}"></button>
            {% endfor %}
        </div>
        <div class="carousel-inner d-flex h-100">
            {% for entry in display %}
                <div class="carousel-item d-flex flex-column {% if forloop.counter == 1 %} active{% endif %}" data-bs-interval="{{ config.displayInterval }}">
                    <div class="flex-grow-1"></div>
                    <div class="flex-column px-5">
                        {% if entry.type == 'timetable' %}
                            <h2 class="mt-2 mb-3">{{ entry.data.desc }}</h2>
                            <div class="flex-row">
                                {% if entry.data.races %}
                                    <div class="row border-bottom small text-muted mt-2">
                                        <div class="col-1 text-center">{{ config.timetableHeaderTime }}</div>
                                        <div class="col-1 text-center">{{ config.timetableHeaderName }}</div>
                                        <div class="col-10">
                                            <div class="row">
                                                <div class="col-1 text-center">{{ config.timetableHeaderLane }}</div>
                                                <div class="col">{{ config.timetableHeaderTeam }}</div>
                                                <div class="col-{% if entry.data.type == 'finale' %}4{% else %}5{% endif %} d-none d-xl-block">{{ config.timetableHeaderCompany }}</div>
                                                <div class="col-1">{{ config.timesHeaderSkipper }}</div>
                                                {% if entry.data.type == 'finale' %}
                                                    <div class="col-1 text-center">{{ config.timesHeaderRank }}</div>
                                                {% endif %}
                                                <div class="col-1 text-center">{{ config.timesHeaderPlace }}</div>
                                                <div class="col-1 text-center times_column">{{ config.timesHeaderTime }}</div>
                                            </div>
                                        </div>
                                    </div>
                                    {% for race in entry.data.races %}
                                        <div class="row border-bottom timetable_race{% if race.status == 'finished' %} race_finished{% elif race.status == 'started' %} race_started{% endif %} fs-5">
                                            <div class="col-1 text-center align-self-center fw-bold">{{ race.time|time:'H:i' }}</div>
                                            <div class="col-1 text-center align-self-center">{{ race.desc }}</div>
                                            <div class="col-10">
                                                {% for lane in race.lanes %}
                                                    <div class="row timetable_lane">
                                                        <div class="col-1 text-center">{{ lane.lane }}</div>
                                                        <div class="col {% if lane.draw %}text-muted{% else %}fw-bold{% endif %}">{{ lane.team }}</div>
                                                        <div class="col-{% if entry.data.type == 'finale' %}4{% else %}5{% endif %} align-self-center d-none d-xl-block">{{ lane.company }}</div>
                                                        <div class="col-1 align-self-center{% if not lane.skipper.active %} text-muted{% endif %}">{{ lane.skipper.name }}</div>
                                                        {% if entry.data.type == 'finale' %}
                                                            <div class="col-1 text-center text-primary fw-bold align-self-center">{{ lane.rank }}</div>
                                                        {% endif %}
                                                        <div class="col-1 text-center align-self-center">{{ lane.place }}</div>
                                                        <div class="col-1 text-center align-self-center px-1{% if lane.finished %} fw-bold text-success{% else %} text-muted{% endif %} times_column">{{ lane.time|asTime }}</div>
                                                    </div>
                                                {% endfor %}
                                            </div>
                                        </div>
                                    {% endfor %}
                                {% endif %}
                            </div>
                        {% elif entry.type == 'rankingHeats' %}
                            <div class="container-fluid fs-5">
                                <h2 class="mt-2 mb-3">{{ entry.desc }}</h2>
                                {% block rankings_heats %}
                                    {% include 'results_heats_rankings.html' %}
                                {% endblock %}
                            </div>
                        {% elif entry.type == 'rankingFinals' and entry.ranks|length %}
                            <div class="container-fluid fs-5">
                                <h2 class="mt-2 mb-3">{{ entry.desc }}</h2>
                                {% block rankings_finale %}
                                    {% include 'results_final_rankings.html' %}
                                {% endblock %}
                            </div>
                        {% endif %}
                    </div>
                    <div class="flex-grow-1"></div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}