{% load static %}

{% block menu %}
<ul class="nav nav-pills flex-column h-100 gap-2">
    {% for m in menu %}
    <li class="nav-item flex-row{% if m.id == 'settings' %} mt-auto{% endif %}" id="{{ m.id }}">
        <a class="nav-link p-1 d-inline-flex w-100{% if m.active %} active{% endif %}" href="{{ m.url }}">
            <div class="p-1">
                <img src="{% static 'images/' %}{{ m.thumb }}" alt="{{ m.title }}_icon">
            </div>
            <span class="px-2 my-auto lead text-light w-100">{{ m.title }}</span>
            {% if m.notifications %}
            <div class="d-flex flex-column">
                {% for n in m.notifications %}
                    <span class="badge text-light text-bg-{{ n.level }}">{{ n.count }}</span>
                {% endfor %}
            </div>
            {% endif %}
        </a>
    </li>
    {% endfor %}
</ul>
{% endblock %}