{% load static %}
{% load filter_tags %}

{% block settings_advanced %}
    <div class="card p-0 shadow">
        <div class="card-header bg-purple-100 fs-4 py-0{% if card.folded %} card-header-collapsed{% endif %}">
            <div class="row flex-nowrap hdr_collapse" data-bs-toggle="collapse" data-bs-target="#{{ card.title|uid }}" aria-expanded="{% if card.folded %}false{% else %}true{% endif %}">
                <div class="col">{{ card.title }}</div>
                <div class="col-auto my-auto px-2 text-secondary fs-6">
                    <i class="bi bi-chevron-compact-up icon_expanded"></i>
                    <i class="bi bi-chevron-compact-down icon_collapsed"></i>
                </div>
            </div>
        </div>
        <div class="card-body p-3 pb-0 collapse{% if card.folded %} hide{% else %} show{% endif %}" id="{{ card.title|uid }}">
            {% for button in card.buttons %}
                <button type="button" id="{{ button.id }}" value="{{ button.value }}" class="btn {{ button.classes }} shadow me-3 mb-3" data-bs-toggle="modal" data-bs-target="#{{ button.modal.id }}" data-bs-tooltip-ex title="{{ button.modal.body.text|linebreaks }}">
                    <div class="btn_team_icon container-fluid d-flex flex-row align-items-center justify-content-md-start mw-100 p-0">
                        <div class="pe-2">
                            <img src="{% static 'images/' %}{{ button.icon }}" alt="{{ button.icon_alt }}">
                        </div>
                        <p class="m-0 ps-2 lead">{{ button.text }}</p>
                    </div>
                </button>
                <div class="modal fade" id="{{ button.modal.id }}" data-bs-backdrop="static" tabindex="-1">
                    <div class="modal-dialog {{ button.modal.classes }}">
                        <div class="modal-content">
                            <div class="modal-header {{ button.modal.header.classes }}">
                                <h5 class="modal-title" id="{{ button.modal.header.id }}">{{ button.modal.header.title }}</h5>
                                <button type="button" class="btn-close text-light" data-bs-dismiss="modal"></button>
                            </div>
                            <div class="modal-body d-flex flex-nowrap text-start align-items-center">
                                <img src="{% static 'images/' %}{{ button.modal.body.icon }}">
                                <div class="container">{{ button.modal.body.text|linebreaks }}</div>
                            </div>
                            <div class="modal-footer flex-row-reverse justify-content-start bg-gray-200">
                                {% for modal_button in button.modal.footer.buttons %}
                                    <button type="button" id="{{ modal_button.id }}" value="{{ modal_button.value }}" class="btn {{ modal_button.classes }}" {% if 'action' in modal_button %}onclick="{{ modal_button.action }}"{% else %}data-bs-dismiss="modal"{% endif %}>
                                        <div class="btn_team_icon container-fluid d-flex flex-row align-items-center justify-content-md-start mw-100 p-0">
                                            <div class="pe-2">
                                                <img src="{% static 'images/' %}{{ modal_button.icon }}" alt="{{ modal_button.icon_alt }}" class="{{modal_button.icon_class}}">
                                            </div>
                                            <p class="m-0 ps-2 lead">{{ modal_button.text }}</p>
                                        </div>
                                    </button>
                                {% endfor %}
                                <div class="spinner-border {{ button.modal.footer.spinner.classes }} d-none me-auto" role="status" id="{{ button.modal.footer.spinner.id }}"></div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}