{% extends 'main.html' %}
{% load static %}
{% load filter_tags_skipper %}

{% block additionalCSS %}
    <link rel="stylesheet" href="{% static 'css/' %}{{ config.skippersPageCSS }}">
{% endblock %}

{% block content %}
    <div class="container-fluid bg-light sticky-top">
        <div class="pb-3 pt-1 border-bottom border-3 collapse show" id="collapseControls">
            <h2 class="mt-2 mb-3">{{ config.skippersEditHeading }}</h2>
            {% if content.skipperForm %}
                <div class="d-flex align-items-start">
                    <form method="POST" action="" id="skipper_form">
                        {% include 'skipper_form.html' %}
                    </form>
                </div>
                <div class="d-flex align-items-start mt-3">
                    <button type="submit" name="add_skipper" value="Submit" class="btn btn-primary btn_icon me-3" form="skipper_form">
                        <div class="container-fluid d-flex flex-row align-items-center justify-content-md-start mw-100 p-0">
                            <div class="pe-2">
                                <img src="{% static 'images/' %}{{ config.submitTeamIcon }}" alt="add_skipper">
                            </div>
                            <p class="m-0 ps-2 lead">{{ config.submitEditTeam }}</p>
                        </div>
                    </button>
                    <button type="submit" name="cancel_skipper" value="Cancel" class="btn btn-primary btn_icon" form="skipper_form" formnovalidate>
                        <div class="container-fluid d-flex flex-row align-items-center justify-content-md-start mw-100 p-0">
                            <div class="pe-2">
                                <img src="{% static 'images/' %}{{ config.cancelTeamIcon }}" alt="cancel_skipper">
                            </div>
                            <p class="m-0 ps-2 lead">{{ config.submitAbort }}</p>
                        </div>
                    </button>
                </div>
            {% else %}
                <div class="d-flex align-items-start mt-3">
                    <form method="POST" action="" id="none_form">
                        {% csrf_token %}
                        <button type="submit" name="show_add_form" value="Add" class="btn btn-primary btn_icon btn_lg">
                            <div class="container-fluid d-flex flex-row align-items-center justify-content-md-start mw-100 p-0">
                                <div class="pe-2">
                                    <img src="{% static 'images/' %}{{ config.addTeamIcon }}" alt="add_skipper">
                                </div>
                                <p class="m-0 ps-2 lead">{{ config.addSkipper }}</p>
                            </div>
                        </button>
                    </form>
                </div>
            {% endif %}
        </div>
        <button type="submit" name="refreshTimes" value="Refresh" class="btn btn_collapse float-end mt-1 border-0 text-secondary" data-bs-toggle="collapse" data-bs-target="#collapseControls"  aria-expanded="true">
            <i class="bi bi-chevron-compact-up icon_expanded"></i>
            <i class="bi bi-chevron-compact-down icon_collapsed"></i>
        </button>
    </div>
    <div class="container-fluid">
        <h2 class="mt-2 mb-3">{{ config.skippersListHeading }}</h2>
        <div class="container-fluid m-0 p-0">
            {% if content.activeSkippers %}
                <div class="card mb-3">
                    <div class="card-header fs-5 py-0">{{ config.activeSkipperTitle }}</div>
                    <div class="card-body p-0">
                        {% include 'skipper_table_header.html' %}
                        {% for skipper in content.skipperList|active_skipper %}
                            {% include 'skipper_table_row.html' %}
                        {% endfor %}
                    </div>
                </div>
            {% endif %}
            {% if content.inactiveSkippers %}
                <div class="card mb-3">
                    <div class="card-header fs-5 py-0">{{ config.inactiveSkipperTitle }}</div>
                    <div class="card-body p-0">
                        {% include 'skipper_table_header.html' %}
                        {% for skipper in content.skipperList|inactive_skipper %}
                            {% include 'skipper_table_row.html' %}
                        {% endfor %}
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
    <div class="container-fluid overscroll"></div>
{% endblock %}
