{% load static %}

{% block skipper_table_row %}
    <div class="row user-select-none align-items-center flex-nowrap skipper_list m-0 py-1{% if not forloop.last %} border-bottom{% else %} rounded-bottom{% endif %}{% if content.skipperForm_id and skipper.id == content.skipperForm_id %} border border-primary skipper_edit{% endif %}" id="skipper_{{ skipper.id }}">
        <div class="col-1 id_col fw-bold text-center text-primary{% if not skipper.active %} text-muted{% endif %}">{{ forloop.counter }}</div>
        <div class="col col-lg-2 fw-bold text-success{% if not skipper.active %} text-muted{% endif %}">{{ skipper.name }}</div>
        <div class="col col-lg-2 d-none d-sm-block{% if not skipper.active %} text-muted{% endif %}">{{ skipper.fname }}</div>
        <div class="col col-lg-2 d-none d-sm-block{% if not skipper.active %} text-muted{% endif %}">{{ skipper.lname }}</div>
        <div class="col d-none d-lg-block{% if not skipper.active %} text-muted{% endif %}"><a href= "mailto:{{ skipper.email }}">{{ skipper.email }}</a></div>
        {% if user.is_staff %}
            <div class="col-1 icon_col text-center px-2 icon_col">
                <div class="row m-0 flex-nowrap">
                    <div class="col-4 m-0 p-0 skipper_table_button">
                        <button type="button" name="edit_skipper" value="{{ skipper.id }}" class="btn btn_skipper_table_icon p-0" onclick="button_mod_skipper({{ skipper.id }})" data-bs-tooltip title="{{ config.editSkipper }}">
                            <img src="{% static 'images/' %}{{ config.editTeamIcon }}" alt="edit_skipper">
                        </button>
                    </div>
                    <div class="col-4 m-0 p-0 skipper_table_button">
                        <button type="button" name="activate_skipper" value="{{ skipper.id }}" class="btn btn_skipper_table_icon p-0 ps-1" onclick="button_toggle_skipper('activate_skipper', {{ skipper.id }})" data-bs-tooltip title="{% if skipper.active %}{{ config.activeSkipperTitle }}{% else %}{{ config.inactiveSkipperTitle }}{% endif %}">
                            {% if skipper.active %}
                                <img src="{% static 'images/' %}{{ config.activeTeamIcon }}" alt="active_skipper">
                            {% else %}
                                <img src="{% static 'images/' %}{{ config.inactiveTeamIcon }}" alt="inactive_skipper">
                            {% endif %}
                        </button>
                    </div>
                    <div class="col-4 m-0 p-0 skipper_table_button">
                        <button type="button" class="btn btn_skipper_table_icon p-0 ps-1" onclick="request_delete_skipper('{{ skipper.name }}', {{ skipper.id }})" data-bs-tooltip title="{{ config.deleteSkipper }}">
                            <img src="{% static 'images/' %}{{ config.removeTeamIcon }}" alt="remove_skipper">
                        </button>
                    </div>
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}