{% load static %}

{% block skipper_table_header %}
    <div class="row border-bottom flex-nowrap small text-muted m-0 mt-2">
        <div class="col-1 id_col text-center">{{ config.skipperTableHeaderID }}</div>
        <div class="col col-lg-2">{{ config.placeholderSkipperName }}</div>
        <div class="col col-lg-2 d-none d-sm-block">{{ config.placeholderSkipperFName }}</div>
        <div class="col col-lg-2 d-none d-sm-block">{{ config.placeholderSkipperLName }}</div>
        <div class="col d-none d-lg-block">{{ config.placeholderSkipperEmail }}</div>
        {% if user.is_staff %}
            <div class="col-1 text-center icon_col">{{ config.skipperTableHeaderOptions }}</div>
        {% endif %}
    </div>
{% endblock %}