{% extends 'main.html' %}
{% load static %}
{% load filter_tags %}
{% load filter_tags_teams %}

{% block additionalCSS %}
    <link rel="stylesheet" href="{% static 'css/' %}{{ config.teamsPageCSS }}">
{% endblock %}

{% block additionalJS %}
    <script language="JavaScript" src="{% static 'js/' %}{{config.teamsPageJS}}" type="text/javascript"></script>
{% endblock %}

{% block content %}
    {% if user.is_staff %}
        <div class="modal fade" id="formTeamModal" data-bs-backdrop="static" tabindex="-1">
            <div class="modal-dialog text-dark modal-lg">
                <div class="modal-content">
                    <div class="modal-header bg-primary text-light">
                        <h5 class="modal-title d-block" id="formAddTeamLabel">{{ config.addTeamHeader }}</h5>
                        <h5 class="modal-title d-none" id="formEditTeamLabel">{{ config.editTeamHeader }}</h5>
                        <button type="button" id="button_cancel_team_x" class="btn-close text-light" data-bs-dismiss="modal"></button>
                    </div>
                    <div class="modal-body d-flex flex-nowrap text-start align-items-center">
                        <div class="d-flex align-items-start team_form">
                            <form method="POST" action="" name="add_team" id="team_form">
                                {% csrf_token %}
                                {% include 'team_form.html' %}
                            </form>
                        </div>
                    </div>
                    <div class="modal-footer flex-row-reverse justify-content-start bg-gray-200">
                        <button type="submit" name="submit_team" value="Submit" id="button_add_team" form="team_form" class="btn btn-primary btn_icon shadow d-block">
                            <div class="container-fluid d-flex flex-row align-items-center justify-content-md-start mw-100 p-0">
                                <div class="pe-2">
                                    <img src="{% static 'images/' %}{{ config.submitTeamIcon }}" alt="add_team" class="p-0">
                                </div>
                                <p class="m-0 ps-2 lead">{{ config.submitAddTeam }}</p>
                            </div>
                        </button>
                        <button type="submit" name="submit_team" value="Submit" id="button_edit_team" form="team_form" class="btn btn-primary btn_icon shadow d-none">
                            <div class="container-fluid d-flex flex-row align-items-center justify-content-md-start mw-100 p-0">
                                <div class="pe-2">
                                    <img src="{% static 'images/' %}{{ config.submitTeamIcon }}" alt="edit_team" class="p-0">
                                </div>
                                <p class="m-0 ps-2 lead">{{ config.submitEditTeam }}</p>
                            </div>
                        </button>
                        <button type="button" name="cancel_team" value="Submit" id="button_cancel_team" class="btn btn-secondary btn_icon shadow" data-bs-dismiss="modal" formnovalidate>
                            <div class="container-fluid d-flex flex-row align-items-center justify-content-md-start mw-100 p-0">
                                <div>
                                    <img src="{% static 'images/' %}{{ config.cancelTeamIcon }}" alt="cancel_team" class="p-0">
                                </div>
                                <p class="m-0 ps-2 lead">{{ config.submitAbort }}</p>
                            </div>
                        </button>
                        <div class="spinner-border text-primary d-none me-auto" role="status" id="wait"></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="deleteTeamModal" data-bs-backdrop="static" tabindex="-1">
            <div class="modal-dialog text-dark">
                <div class="modal-content">
                    <div class="modal-header bg-danger text-light">
                        <h5 class="modal-title" id="deleteTeamLabel">{{ config.deleteTeam }}</h5>
                        <button type="button" class="btn-close text-light" data-bs-dismiss="modal"></button>
                    </div>
                    <div class="modal-body d-flex flex-nowrap text-start align-items-center">
                        <img src="{% static 'images/' %}{{ config.questionIcon }}">
                        <div class="container">
                            <p>
                                <span>{{ config.teamTableHeaderTeam }}: </span>
                                <span class="fw-bold" id="del_team_warning"></span>
                            </p>
                            <p>{{ config.warningDeleteTeam|linebreaks }}</p>
                        </div>
                    </div>
                    <div class="modal-footer flex-row-reverse justify-content-start bg-gray-200">
                        <button type="button" name="delete_team" id="button_delete_team" value="" class="btn btn-primary btn_icon shadow" data-bs-dismiss="modal">
                            <div class="container-fluid d-flex flex-row align-items-center justify-content-md-start mw-100 p-0">
                                <div class="pe-2">
                                    <img src="{% static 'images/' %}{{ config.removeTeamIcon }}" alt="remove_team" class="p-0">
                                </div>
                                <p class="m-0 ps-2 lead">{{ config.deleteTeam }}</p>
                            </div>
                        </button>
                        <button type="button" name="cancel_delete_team" id="cancel_delete_team" class="btn btn-secondary btn_icon shadow" data-bs-dismiss="modal">
                            <div class="container-fluid d-flex flex-row align-items-center justify-content-md-start mw-100 p-0">
                                <div>
                                    <img src="{% static 'images/' %}{{ config.cancelTeamIcon }}" alt="cancelDeleteTeam" class="p-0">
                                </div>
                                <p class="m-0 ps-2 lead">{{ config.submitAbort }}</p>
                            </div>
                        </button>
                        <div class="spinner-border text-primary d-none me-auto" role="status" id="wait_delete"></div>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}

    <div class="container-fluid" id="team_table">
        <h2 class="my-2 display-6">{{ config.teamListHeader }}</h2>
        {% if content.teams %}
            <div class="progress mb-4 bg-light">
                {% if content.activeTeams %}
                    <div class="progress-bar px-2 me-2 team_progress bg-light border-bottom border-success border-5 text-success" role="progressbar" style="width: calc(100% * {{ content.activeTeams }} / {{ content.totalTeams }})">
                        <div class="flex-row text-start">
                            <span class="display-3 fw-bold">{{ content.activeTeams }}</span>
                            <span class="lead">{{ config.activeTeams }}</span>
                        </div>
                    </div>
                {% endif %}
                {% if content.waitlistTeams %}
                    <div class="progress-bar px-2 me-2 team_progress bg-light border-bottom border-warning border-5 text-warning" role="progressbar" style="width: calc(100% * {{ content.waitlistTeams }} / {{ content.totalTeams }})">
                        <div class="flex-row text-start">
                            <span class="display-3 fw-bold">{{ content.waitlistTeams }}</span>
                            <span class="lead">{{ config.waitlistTeams }}</span>
                        </div>
                    </div>
                {% endif %}
                {% if content.inactiveTeams %}
                    <div class="progress-bar px-2 team_progress bg-light border-bottom border-secondary border-5 text-secondary" role="progressbar" style="width: calc(100% * {{ content.inactiveTeams }} / {{ content.totalTeams }})">
                        <div class="flex-row text-start">
                            <span class="display-3 fw-bold">{{ content.inactiveTeams }}</span>
                            <span class="lead">{{ config.inactiveTeams }}</span>
                        </div>
                    </div>
                {% endif %}
            </div>
        {% endif %}
        {% if content.activeTeams %}
            <div class="card mb-3 shadow">
                <div class="card-header fs-4 py-0">
                    <div class="row flex-nowrap hdr_collapse" data-bs-toggle="collapse" data-bs-target="#{{ config.activeTeams|uid }}" aria-expanded="true">
                        <div class="col">{{ config.activeTeams }}</div>
                        <div class="col-auto my-auto px-2 text-secondary fs-6">
                            <i class="bi bi-chevron-compact-up icon_expanded"></i>
                            <i class="bi bi-chevron-compact-down icon_collapsed"></i>
                        </div>
                    </div>
                </div>
                <div class="card-body p-0 collapse show" id="{{ config.activeTeams|uid }}">
                    {% if content.teams %}
                        {% include 'team_table_header.html' %}
                    {% endif %}
                    {% for t in content.teams|active_teams %}
                        {% include 'team_table_row.html' %}
                    {% endfor %}
                </div>
            </div>
        {% endif %}
        {% if content.waitlistTeams %}
            <div class="card mb-3 shadow">
                <div class="card-header fs-4 py-0">
                    <div class="row flex-nowrap hdr_collapse" data-bs-toggle="collapse" data-bs-target="#{{ config.waitlistTeams|uid }}" aria-expanded="true">
                        <div class="col">{{ config.waitlistTeams }}</div>
                        <div class="col-auto my-auto px-2 text-secondary fs-6">
                            <i class="bi bi-chevron-compact-up icon_expanded"></i>
                            <i class="bi bi-chevron-compact-down icon_collapsed"></i>
                        </div>
                    </div>
                </div>
                <div class="card-body p-0 collapse show" id="{{ config.waitlistTeams|uid }}">
                    {% if content.teams %}
                        {% include 'team_table_header.html' %}
                    {% endif %}
                    {% for t in content.teams|waitlist_teams %}
                        {% include 'team_table_row.html' %}
                    {% endfor %}
                </div>
            </div>
        {% endif %}
        {% if content.inactiveTeams %}
            <div class="card mb-3 shadow">
                <div class="card-header fs-4 py-0">
                    <div class="row flex-nowrap hdr_collapse" data-bs-toggle="collapse" data-bs-target="#{{ config.inactiveTeams|uid }}" aria-expanded="true">
                        <div class="col">{{ config.inactiveTeams }}</div>
                        <div class="col-auto my-auto px-2 text-secondary fs-6">
                            <i class="bi bi-chevron-compact-up icon_expanded"></i>
                            <i class="bi bi-chevron-compact-down icon_collapsed"></i>
                        </div>
                    </div>
                </div>
                <div class="card-body p-0 collapse show" id="{{ config.inactiveTeams|uid }}">
                    {% if content.teams %}
                        {% include 'team_table_header.html' %}
                    {% endif %}
                    {% for t in content.teams|inactive_teams %}
                        {% include 'team_table_row.html' %}
                    {% endfor %}
                </div>
            </div>
        {% endif %}
    </div>

    {% if user.is_staff %}
        <div class="container-fluid mb-3 pt-3">
            <button type="button" name="show_team_form" value="AddTeam" class="btn btn-primary btn_icon btn_lg shadow" data-bs-toggle="modal" data-bs-target="#formTeamModal">
                <div class="container-fluid d-flex flex-row align-items-center justify-content-md-start mw-100 p-0">
                    <div class="pe-2">
                        <img src="{% static 'images/' %}{{ config.addTeamIcon }}" alt="add_team">
                    </div>
                    <p class="m-0 ps-2 lead">{{ config.addTeam }}</p>
                </div>
            </button>
            <button type="button" name="team_form_pdf" value="PdfTeam" id="team_form_pdf" class="btn btn-light btn_icon btn_fit shadow float-end">
                <div class="container-fluid d-flex flex-row align-items-center justify-content-md-start mw-100 p-0">
                    <div class="pe-2">
                        <img src="{% static 'images/' %}{{ config.pdfIcon }}" alt="pdf_team">
                    </div>
                </div>
            </button>
        </div>
    {% endif %}
    <div class="container-fluid overscroll"></div>
{% endblock %}
