{% load static %}

{% block team_form %}
    {% csrf_token %}
    <div class="row">
        {% for f in content.forms.form %}
            {% if f.field.widget.input_type == 'checkbox' %}
            <div class="col-4 mb-3">
                <div class="input-group">
                    <div class="input-group-text form-switch px-1 {% if f.errors %}input-error{% endif %}">
                        {{ f }}
                    </div>
                    <input type="text" class="form-control bg-light" value="{{ f.field.widget.attrs.placeholder }}" disabled>
                </div>
            </div>
            {% elif f.html_name == 'date' %}
                <div class="col-4 mb-3">
                    <div class="input-group rounded {% if f.errors %}input-error{% endif %}">
                        <span class="input-group-text"><i class="bi bi-calendar3-event"></i></span>
                        {{ f }}
                    </div>
                </div>
            {% elif f.html_name == 'email' %}
                <div class="col-6 mb-3">
                    <div class="input-group rounded {% if f.errors %}input-error{% endif %}">
                        <span class="input-group-text"><i class="bi bi-envelope"></i></span>
                        {{ f }}
                    </div>
                </div>
            {% elif f.html_name == 'phone' %}
                <div class="col-6 mb-3">
                    <div class="input-group rounded {% if f.errors %}input-error{% endif %}">
                        <span class="input-group-text"><i class="bi bi-telephone"></i></span>
                        {{ f }}
                    </div>
                </div>
            {% elif f.html_name == 'name' %}
                <div class="col-12 mb-3">
                    <div class="input-group rounded {% if f.errors %}input-error{% endif %}">
                        <span class="input-group-text"><i class="bi bi-tag"></i></span>
                        {{ f }}
                    </div>
                </div>
            {% elif f.html_name == 'company' %}
                <div class="col-12 mb-3">
                    <div class="input-group rounded {% if f.errors %}input-error{% endif %}">
                        <span class="input-group-text"><i class="bi bi-building"></i></span>
                        {{ f }}
                    </div>
                </div>
            {% elif f.html_name == 'contact' %}
                <div class="col-12 mb-3">
                    <div class="input-group rounded {% if f.errors %}input-error{% endif %}">
                        <span class="input-group-text"><i class="bi bi-person"></i></span>
                        {{ f }}
                    </div>
                </div>
            {% elif f.html_name == 'address' %}
                <div class="col-12 mb-3">
                    <div class="input-group rounded {% if f.errors %}input-error{% endif %}">
                        <span class="input-group-text"><i class="bi bi-house"></i></span>
                        {{ f }}
                    </div>
                </div>
            {% else %}
                <div class="col-12 mb-3">
                    {{ f }}
                </div>
            {% endif %}
        {% endfor %}
    </div>
{% endblock %}