{% extends 'main.html' %}
{% load static %}
{% load filter_tags %}

{% block additionalCSS %}
    <link rel="stylesheet" href="{% static 'css/' %}{{ config.timesPageCSS }}">
{% endblock %}

{% block content %}
    <div class="container-fluid bg-light sticky-top">
        <div class="pb-3 pt-1 border-bottom border-3 collapse show" id="collapseControls">
            <h2 class="mt-2 mb-3">{{ config.timesHeader }}</h2>
            <div class="row m-0 border-bottom border-1">
                <div class="col-2 mx-0 px-2 small text-muted text-center mt-2 col_select_race">{{ config.timeRaceDesc }}</div>
                <div class="col-1 small text-muted text-center mt-2 d-none d-xl-block">{{ config.timetableHeaderTime }}</div>
                <div class="col mt-2 mx-0 px-0">
                    <div class="row mx-0 small text-muted">
                        <div class="col-1 col_num text-center">{{ config.timetableHeaderLane }}</div>
                        <div class="col">{{ config.timetableHeaderTeam }} / {{ config.timetableHeaderCompany }}</div>
                        <div class="col col_skipper text-center">{{ config.timesHeaderSkipper }}</div>
                        <div class="col-1 col_num text-center d-none d-xl-block">{{ config.timesHeaderPlace }}</div>
                        <div class="col pe-2 text-center col_times">{{ config.timesHeaderTime }}</div>
                    </div>
                </div>
            </div>
            <div class="row m-0 border-bottom border-1">
                <div class="col-2 my-1 mx-0 px-2 align-self-center col_select_race">
                    <form method="POST" action="" id="race_select">
                        {% csrf_token %}
                        <div class="input-group">
                            <span class="input-group-text"><i class="bi bi-{{controls.start_time_icon}}"></i></span>
                            <select id="race_select" name="race_select" class="form-select form-select-lg text-center" onchange="this.form.submit()">
                                {% for r in controls.races %}
                                    <option value="{{ r }}"{% if r == controls.selected_race.name %} selected{% endif %}>{{ r }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </form>
                </div>
                <div class="col-1 my-1 text-center align-self-center fw-bold d-none d-xl-block">{{ controls.selected_race.time|time:'H:i' }}</div>
                <div class="col mx-0 px-0">
                    <form method="POST" action="" id="submit_times_form">
                        {% csrf_token %}
                        {% for l in controls.selected_race.lanes %}
                            <div class="row mx-0 py-0 timetable_lane">
                                <div class="col-1 col_num text-center align-self-center">{{ l.lane }}</div>
                                <div class="col align-self-center">
                                    <span class="fw-bold">{{ l.team }}</span>
                                    <br>
                                    <span class="small">{{ l.company }}</span>
                                </div>
                                <div class="col col_skipper_control align-self-center">
                                    <div class="input-group">
                                        <span class="input-group-text"><i class="bi bi-person"></i></span>
                                        <select id="skipper_select" name="skipper_select_{{ l.lane }}" class="form-select">
                                            {% for s in controls.skippers %}
                                                <option value="{{ s.name }}" class="{% if s.active %}fw-bold text-success{% else %}text-muted{% endif %}"{% if s.name == l.skipper.name %} selected{% endif %}>{{ s.name }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                                <div class="col-1 col_num text-center align-self-center d-none d-xl-block">{{ l.place }}</div>
                                <div class="col col_times pe-2 align-self-center">
                                    <div class="input-group">
                                        <span class="input-group-text"><i class="bi bi-{{controls.time_icon}}"></i></span>
                                        <input type="number" id="lane_time_min_{{ l.lane }}" name="lane_time_min_{{ l.lane }}" class="form-control text-center px-2" value="{{ l.time|splitTime:'min' }}" min="0" max="59">
                                        <label class="input-group-text px-1 fw-bold" for="lane_info_sec">:</label>
                                        <input type="number" id="lane_time_sec_{{ l.lane }}" name="lane_time_sec_{{ l.lane }}" class="form-control text-center px-2" value="{{ l.time|splitTime:'sec' }}" min="0" max="59">
                                        <label class="input-group-text px-1 fw-bold" for="lane_info_msec">.</label>
                                        <input type="number" id="lane_time_msec_{{ l.lane }}" name="lane_time_hnd_{{ l.lane }}" class="form-control text-center px-2" value="{{ l.time|splitTime:'hnd' }}" min="0" max="99">
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </form>
                </div>
            </div>
            <div class="d-flex align-items-start mt-3">
                <button type="submit" name="refresh_times" value="Refresh" class="btn btn-primary btn_icon" form="submit_times_form">
                    <div class="btn_team_icon container-fluid d-flex flex-row align-items-center justify-content-md-start mw-100 p-0">
                        <div class="pe-2">
                            <img src="{% static 'images/' %}{{ config.timeIcon }}" alt="refresh_times">
                        </div>
                        <p class="m-0 ps-2 lead">{{ config.refreshTimesText }}</p>
                    </div>
                </button>
            </div>
        </div>
        <button type="submit" name="refreshTimes" value="Refresh" class="btn btn_collapse float-end mt-1 border-0 text-secondary" data-bs-toggle="collapse" data-bs-target="#collapseControls"  aria-expanded="true">
            <i class="bi bi-chevron-compact-up icon_expanded"></i>
            <i class="bi bi-chevron-compact-down icon_collapsed"></i>
        </button>
    </div>
    <div class="container-fluid">
        <h2 class="mt-2 mb-3 display-6">{{ config.timesTableHeader }}</h2>
        {% for entry in times %}
            <div class="card mb-3 shadow">
                <div class="card-header fs-4 py-0">
                    <div class="row flex-nowrap">
                        <div class="col-auto text-center">{{ entry.time|time:'H:i'}}</div>
                        <div class="col">{{ entry.desc }}</div>
                    </div>
                </div>
                <div class="card-body p-0">
                    {% if entry.races %}
                        <div class="row flex-nowrap timetable_header border-bottom small text-muted mx-0 mt-2">
                            <div class="col col_time text-center">{{ config.timetableHeaderTime }}</div>
                            <div class="col col_time text-center">{{ config.timetableHeaderName }}</div>
                            <div class="col">
                                <div class="row">
                                    <div class="col-1 col_num text-center">{{ config.timetableHeaderLane }}</div>
                                    <div class="col">{{ config.timetableHeaderTeam }}</div>
                                    <div class="col d-none d-xxl-block">{{ config.timetableHeaderCompany }}</div>
                                    <div class="col col_skipper d-none d-lg-block">{{ config.timesHeaderSkipper }}</div>
                                    <div class="col col_num text-center">{{ config.timesHeaderPlace }}</div>
                                    <div class="col col_time text-center px-1">{{ config.timesHeaderTime }}</div>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                    {% for race in entry.races %}
                        <div class="row flex-nowrap timetable_race mx-0{% if race.status == 'finished' %} race_finished{% elif race.status == 'started' %} race_started{% endif %}{% if forloop.last %} rounded-bottom{% else %} border-bottom{% endif %}">
                            <div class="col col_time text-center align-self-center fw-bold">{{ race.time|time:'H:i' }}</div>
                            <div class="col col_time text-center align-self-center">{{ race.desc }}</div>
                            <div class="col">
                                {% for lane in race.lanes %}
                                    <div class="row timetable_lane{% if forloop.parentloop.last and forloop.last %} rounded-bottom-right{% endif %}">
                                        <div class="col-1 col_num text-center align-self-center">{{ lane.lane }}</div>
                                        <div class="col align-self-center{% if lane.draw %} text-muted{% else %} fw-bold{% endif %}">{{ lane.team }}</div>
                                        <div class="col d-none d-xxl-block align-self-center">{{ lane.company }}</div>
                                        <div class="col col_skipper d-none d-lg-block align-self-center{% if lane.skipper.active %} fw-bold{% else %} text-muted{% endif %}">{{ lane.skipper.name }}</div>
                                        <div class="col col_num text-center align-self-center">{{ lane.place }}</div>
                                        <div class="col col_time text-center align-self-center px-1{% if lane.finished %} fw-bold text-success{% else %} text-muted{% endif %}">{{ lane.time|asTime }}</div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        {% endfor %}
    </div>
    <div class="container-fluid overscroll"></div>
{% endblock %}
