{% extends 'main.html' %}
{% load static %}

{% block additionalCSS %}
    <link rel="stylesheet" href="{% static 'css/' %}{{ config.timetablePageCSS }}">
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <h2 class="my-2">{{ config.timetableSettingsHeader }}</h2>
        <div class="d-flex align-items-start timetable_form">
            <div class="row">
                {% for c in controls %}
                    {% if c.type == 'time' %}
                        <div class="col-3 mb-3">
                            <form method="POST" action="" id="{{ c.id }}">
                                {% csrf_token %}
                                <label for="{{ c.id }}" class="form-label small ">{{ c.name }}</label>
                                <div class="input-group rounded ">
                                    <span class="input-group-text"><i class="bi bi-{{c.icon}}"></i></span>
                                    <input type="{{ c.type }}" id="{{ c.id }}" name="{{ c.id }}" class="form-control text-end" value="{{ c.value|time:'H:i' }}" onchange="this.form.submit()">
                                </div>
                            </form>
                        </div>
                    {% else %}
                        <div class="col-3 mb-3">
                            <form method="POST" action="" id="{{ c.id }}">
                                {% csrf_token %}
                                <label for="{{ c.id }}" class="form-label small ">{{ c.name }}</label>
                                <div class="input-group rounded ">
                                    <span class="input-group-text"><i class="bi bi-{{c.icon}}"></i></span>
                                    <input type="{{ c.type }}" id="{{ c.id }}" name="{{ c.id }}" class="form-control text-end pe-4" value="{{ c.value }}" {% if c.min %}min="{{ c.min }}"{% endif %} {% if c.max %}max="{{ c.max }}"{% endif %} onchange="this.form.submit()">
                                </div>
                            </form>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
        <div class="d-flex align-items-start mt-3">
            <form method="POST" action="" id="none_form">
                {% csrf_token %}
                <button type="submit" name="refresh_times" value="Refresh" class="btn btn-primary btn_icon me-3">
                    <div class="btn_team_icon container-fluid d-flex flex-row align-items-center justify-content-md-start mw-100 p-0">
                        <div class="pe-2">
                            <img src="{% static 'images/' %}{{ config.refreshTimetableIcon }}" alt="refresh_times">
                        </div>
                        <p class="m-0 ps-2 lead">{{ config.refreshTimetableText }}</p>
                    </div>
                </button>
                <button type="submit" name="create_timetable" value="Create" class="btn btn-danger btn_icon" onclick="return confirm('{{ config.warningCreateTimetable }}');">
                    <div class="btn_team_icon container-fluid d-flex flex-row align-items-center justify-content-md-start mw-100 p-0">
                        <div class="pe-2">
                            <img src="{% static 'images/' %}{{ config.createTimetableIcon }}" alt="create_timetable">
                        </div>
                        <p class="m-0 ps-2 lead">{{ config.createTimetableText }}</p>
                    </div>
                </button>
            </form>
        </div>
        <div class="container-fluid border-bottom pt-3 mb-4"></div>
    </div>
    <div class="container-fluid">
        <h2 class="my-2">{{ config.timetableHeader }}</h2>
        {% for entry in timetable %}
            <div class="container-fluid">
                <div class="row bg-primary my-3 fs-4 text-light border">
                    <div class="col-1">{{ entry.time|time:'H:i'}}</div>
                    <div class="col">{{ entry.desc }}</div>
                </div>
            </div>
            <div class="container-fluid">
                {% if entry.races %}
                    <div class="row border-bottom small text-muted">
                        <div class="col-1 text-center">{{ config.timetableHeaderTime }}</div>
                        <div class="col-1 text-center">{{ config.timetableHeaderName }}</div>
                        <div class="col-10">
                            <div class="row">
                                <div class="col-1 text-center">{{ config.timetableHeaderLane }}</div>
                                <div class="col-4">{{ config.timetableHeaderTeam }}</div>
                                <div class="col-7">{{ config.timetableHeaderCompany }}</div>
                            </div>
                        </div>
                    </div>
                {% endif %}
                {% for race in entry.races %}
                    <div class="row border-bottom timetable_race">
                        <div class="col-1 text-center align-self-center fw-bold">{{ race.time|time:'H:i' }}</div>
                        <div class="col-1 text-center align-self-center">{{ race.desc }}</div>
                        <div class="col-10">
                            {% for lane in race.lanes %}
                                <div class="row timetable_lane">
                                    <div class="col-1 text-center">{{ lane.lane }}</div>
                                    <div class="col-4 fw-bold">{{ lane.team }}</div>
                                    <div class="col-7">{{ lane.company }}</div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% endfor %}
    </div>
{% endblock %}
