{% extends 'main.html' %}
{% load static %}

{% block content %}
    <div class="container-fluid">
        <h2 class="my-2">{{ config.timesHeader }}</h2>
        {% for entry in times %}
            <div class="container-fluid">
                <div class="row bg-primary my-3 fs-4 text-light border">
                    <div class="col-1">{{ entry.time|time:'H:i'}}</div>
                    <div class="col">{{ entry.desc }}</div>
                </div>
            </div>
            <div class="container-fluid">
                {% if entry.races %}
                    <div class="row border-bottom small text-muted">
                        <div class="col-1 text-center">{{ config.timetableHeaderTime }}</div>
                        <div class="col-1 text-center">{{ config.timetableHeaderName }}</div>
                        <div class="col-10">
                            <div class="row">
                                <div class="col-1 text-center">{{ config.timetableHeaderLane }}</div>
                                <div class="col-4">{{ config.timetableHeaderTeam }}</div>
                                <div class="col-7">{{ config.timetableHeaderCompany }}</div>
                            </div>
                        </div>
                    </div>
                {% endif %}
                {% for race in entry.races %}
                    <div class="row border-bottom timetable_race">
                        <div class="col-1 text-center align-self-center fw-bold">{{ race.time|time:'H:i' }}</div>
                        <div class="col-1 text-center align-self-center">{{ race.desc }}</div>
                        <div class="col-10">
                            {% for lane in race.lanes %}
                                <div class="row timetable_lane">
                                    <div class="col-1 text-center">{{ lane.lane }}</div>
                                    <div class="col-4 fw-bold">{{ lane.team }}</div>
                                    <div class="col-7">{{ lane.company }}</div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% endfor %}
    </div>
{% endblock %}