{% extends 'main.html' %}
{% load static %}
{% load markdownify %}
{% load filter_tags %}

{% block additionalCSS %}
    <link rel="stylesheet" href="{% static 'css/' %}{{ config.timetablePageCSS }}">
{% endblock %}

{% block additionalJS %}
    <script language="JavaScript" src="{% static 'js/' %}{{config.timetablePageJS}}" type="text/javascript"></script>
{% endblock %}

{% block content %}
    {% if controls %}
        <div class="modal fade" id="createTimetableModal" tabindex="-1" data-bs-backdrop="static">
            <div class="modal-dialog text-dark">
                <div class="modal-content">
                    <div class="modal-header bg-danger text-light">
                        <h5 class="modal-title" id="createTimetableLabel">{{ config.createTimetableText }}</h5>
                        <button type="button" class="btn-close text-light" data-bs-dismiss="modal"></button>
                    </div>
                    <div class="modal-body d-flex flex-nowrap text-start align-items-center">
                        <img src="{% static 'images/' %}{{ config.questionIcon }}">
                        <div class="container">{{ config.warningCreateTimetable }}</div>
                    </div>
                    <div class="modal-footer flex-row-reverse justify-content-start bg-gray-200">
                        <button type="submit" name="createTimetable" value="Create" class="btn btn-primary btn_icon shadow" form="timetable_form">
                            <div class="container-fluid d-flex flex-row align-items-center justify-content-md-start mw-100 p-0">
                                <div class="pe-2">
                                    <img src="{% static 'images/' %}{{ config.createTimetableIcon }}" alt="createTimetable">
                                </div>
                                <p class="m-0 ps-2 lead">{{ config.createTimetableText }}</p>
                            </div>
                        </button>
                        <button type="button" name="cancelCreateTimetable" class="btn btn-secondary btn_icon shadow" data-bs-dismiss="modal">
                            <div class="container-fluid d-flex flex-row align-items-center justify-content-md-start mw-100 p-0">
                                <div>
                                    <img src="{% static 'images/' %}{{ config.cancelTeamIcon }}" alt="cancelCreateTimetable">
                                </div>
                                <p class="m-0 ps-2 lead">{{ config.submitAbort }}</p>
                            </div>
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="editPostModal" tabindex="-1" data-bs-backdrop="static">
            <div class="modal-dialog modal-xl text-dark">
                <div class="modal-content">
                    <div class="modal-header bg-primary text-light">
                        <h5 class="modal-title" id="editPostLabel">{{ config.timetablePostDesc }}</h5>
                        <button type="button" class="btn-close text-light" data-bs-dismiss="modal"></button>
                    </div>
                    <div class="modal-body d-flex flex-nowrap text-start align-items-center">
                        {% if controls %}
                            <div class="row mx-0 px-0 w-100" id="{{ controls.id }}">
                                <div class="col m-0 p-0">
                                    <div class="input-group rounded shadow-sm">
                                        <div class="input-group-text form-switch px-2 d-inline-flex flex-column">
                                            <div class="flex-grow-1"></div>
                                            <input type="hidden" name="{{ controls.value.enable.name }}" value="off">
                                                {{ controls.value.enable }}
                                            <div class="flex-grow-1"></div>
                                        </div>
                                        {{ controls.value.content }}
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    </div>
                    <div class="modal-footer flex-row-reverse justify-content-start bg-gray-200">
                        <button type="button" name="editPost" id="editPost" value="Edit" class="btn btn-primary btn_icon shadow" onclick="button_save_post({{ controls.id }})">
                            <div class="container-fluid d-flex flex-row align-items-center justify-content-md-start mw-100 p-0">
                                <div class="pe-2">
                                    <img src="{% static 'images/' %}{{ config.submitTeamIcon }}" alt="editPost">
                                </div>
                                <p class="m-0 ps-2 lead">{{ config.submitEditPost }}</p>
                            </div>
                        </button>
                        <button type="button" name="cancelEditPost" id="cancelEditPost" class="btn btn-secondary btn_icon shadow" data-bs-dismiss="modal">
                            <div class="container-fluid d-flex flex-row align-items-center justify-content-md-start mw-100 p-0">
                                <div>
                                    <img src="{% static 'images/' %}{{ config.cancelTeamIcon }}" alt="cancelEditPost">
                                </div>
                                <p class="m-0 ps-2 lead">{{ config.submitAbort }}</p>
                            </div>
                        </button>
                        <div class="spinner-border text-primary d-none me-auto" role="status" id="wait"></div>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
    <div class="container-fluid">
        <h2 class="mt-2 mb-3 display-6" id="site_title">{{ config.timetableHeader }}</h2>
        {% if post %}
            <div class="container mx-0 px-0 mb-4 position-relative" id="timetable_post">
                <div class="container m-0 p-0{% if post_disabled %} text-muted{% endif %}">
                    {{ post|markdownify|safe }}
                </div>
                {% if controls %}
                    <div class="position-absolute bottom-0 end-0 edit_icon"{% if controls %} data-bs-toggle="modal" data-bs-target="#editPostModal"{% endif %}>
                        <img src="{% static 'images/' %}{{ config.editTeamIcon }}" alt="edit_team">
                    </div>
                {% endif %}
            </div>
        {% endif %}
        {% for entry in timetable %}
            <div class="card mb-3 shadow">
                <div class="card-header fs-4 py-0{% if not entry.races %} card-header-collapsed{% endif %}">
                    <div class="row flex-nowrap">
                        <div class="col-auto text-center">{{ entry.time|time:'H:i'}}</div>
                        <div class="col">{{ entry.desc }}</div>
                        {% if entry.races %}
                            <div class="col-auto ms-auto p-0">
                                <button type="button" value="Refresh" class="btn btn_collapse float-end h-100 px-2 border-0 text-secondary" data-bs-toggle="collapse" data-bs-target="#{{ entry.desc|uid }}" aria-expanded="true">
                                    <i class="bi bi-chevron-compact-up icon_expanded"></i>
                                    <i class="bi bi-chevron-compact-down icon_collapsed"></i>
                                </button>
                            </div>
                        {% endif %}
                    </div>
                </div>
                {% if entry.races %}
                    <div class="card-body p-0 collapse show" id="{{ entry.desc|uid }}">
                        <div class="row small border-bottom text-muted mx-0 mt-2">
                            <div class="col-1 text-center">{{ config.timetableHeaderTime }}</div>
                            <div class="col-1 text-center">{{ config.timetableHeaderName }}</div>
                            <div class="col">
                                <div class="row">
                                    <div class="col-1 text-center">{{ config.timetableHeaderLane }}</div>
                                    <div class="col">{{ config.timetableHeaderTeam }}</div>
                                    <div class="col-6 d-none d-xl-block">{{ config.timetableHeaderCompany }}</div>
                                    <div class="col-1 col_skipper">{{ config.timetableHeaderSkipper }}</div>
                                </div>
                            </div>
                        </div>
                        {% for race in entry.races %}
                            <div class="row timetable_race mx-0{% if forloop.last %} rounded-bottom{% else %} border-bottom{% endif %}">
                                <div class="col-1 text-center align-self-center fw-bold">{{ race.time|time:'H:i' }}</div>
                                <div class="col-1 text-center align-self-center">{{ race.desc }}</div>
                                <div class="col">
                                    {% for lane in race.lanes %}
                                        <div class="row timetable_lane{% if forloop.parentloop.last and forloop.last %} rounded-bottom-right{% endif %}">
                                            <div class="col-1 col_lane text-center">{{ lane.lane }}</div>
                                            <div class="col col_team {% if lane.draw %}text-muted{% else %}fw-bold{% endif %}">{{ lane.team }}</div>
                                            <div class="col-6 col_company d-none d-xl-block">{{ lane.company }}</div>
                                            <div class="col-1 col_skipper{% if not lane.skipper.active %} text-muted{% endif %}">{{ lane.skipper.name }}</div>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
        {% endfor %}
    </div>
    {% if controls %}
        <div class="container-fluid mb-3 pt-3">
            <button type="button" id="createTimetableButton" class="btn btn-warning btn_icon shadow" data-bs-toggle="modal" data-bs-target="#createTimetableModal">
                <div class="container-fluid d-flex flex-row align-items-center justify-content-md-start mw-100 p-0">
                    <div>
                        <img src="{% static 'images/' %}{{ config.createTimetableIcon }}" alt="createTimetable">
                    </div>
                    <p class="m-0 ps-2 lead">{{ config.createTimetableText }}</p>
                </div>
            </button>
        </div>
    {% endif %}
    <div class="container-fluid overscroll"></div>
{% endblock %}
