{% load static %}

{% block trainings_table_header %}
    <div class="row border-bottom flex-nowrap small text-muted m-0 mt-2 text-nowrap">
        <div class="col-1 id_col">{{ config.trainingsTableHeaderID }}</div>
        <div class="col col-lg-2 d-none d-sm-block">{{ config.placeholderTrainingDate }} / {{ config.placeholderTrainingTime }}</div>
        <div class="col col-lg-2">{{ config.teamTableHeaderTeam }} / {{ config.teamTableHeaderCompany }}</div>
        <div class="col col-lg-2">{{ config.teamTableHeaderCaptain }}</div>
        <div class="col col-lg-2 d-none d-sm-block">{{ config.skipper }}</div>
        <div class="col d-none d-lg-block">{{ config.placeholderTrainingNotes }}</div>
        <div class="col-1 text-center icon_col">{{ config.trainingsTableHeaderEdit }}</div>
    </div>
{% endblock %}