body {
    overflow: hidden;
}

.menu {
    display: none !important;
}

.timetable_race:nth-child(even) {
    background-color: var(--bs-gray-100) !important;
}

.timetable_race:hover {
    filter: brightness(0.97);
}

.timetable_race:nth-child(odd):hover {
    background-color: var(--bs-gray-100) !important;
}

.timetable_lane {
    z-index: 2;
}

.timetable_lane:hover {
    background-color: var(--bs-gray-100) !important;
    filter: brightness(0.97);
}

.rankings_table:nth-child(even) {
    background-color: var(--bs-gray-100);
}

.rankings_table:hover {
    background-color: var(--bs-gray-100);
    filter: brightness(0.97);
}

.carousel-indicators {
    margin-bottom: 0.3rem;
}

.carousel-indicators [data-bs-target] {
    background-color: var(--bs-primary) !important;
    border: 0 !important;
}

.carousel-inner {
    overflow-y: auto;
}

.times_column {
    min-width: 8rem;
    max-width: 8rem;
}

.rank_column {
    min-width: 5rem;
    max-width: 5rem;
}

#liveClock {
    min-width: 6.25rem;
}

.m-5 {
    margin: 2.0rem !important;
}

.m-6 {
    margin: 2.5rem;
}

.m-7 {
    margin: 3.0rem;
}

.m-8 {
    margin: 3.5rem;
}

.m-9 {
    margin: 4.0rem;
}

.m-10 {
    margin: 4.5rem;
}

.m-11 {
    margin: 5.0rem;
}