.timetable_race {
    z-index: 1;
    background-color: var(--bs-gray-100) !important;
}

.timetable_race:nth-child(odd) {
    background-color: var(--bs-gray-200) !important;
}

.timetable_race:hover {
    filter: brightness(0.97);
}

.timetable_lane {
    z-index: 2;
    background-color: var(--bs-gray-100) !important;
}

.timetable_race:nth-child(odd) .timetable_lane {
    background-color: var(--bs-gray-200) !important;
}

.timetable_lane:hover {
    filter: brightness(0.97);
}

.rankings_table {
    z-index: 1;
    background-color: var(--bs-gray-100) !important;
}

.rankings_table:nth-child(odd) {
    background-color: var(--bs-gray-200) !important;
}

.rankings_table:hover {
    filter: brightness(0.97);
}

.times_column {
    min-width: 6.5rem;
    max-width: 6.5rem;
}

.rank_column {
    min-width: 4rem;
    max-width: 4rem;
}
