.timetable_race:nth-child(even) {
    background-color: var(--bs-gray-100) !important;
}

.timetable_race {
    background-color: var(--bs-white) !important;
}

.timetable_race:hover {
    background-color: var(--bs-table-row-hover) !important;
}

.timetable_lane {
    z-index: 2;
}

.timetable_lane:hover {
    background-color: var(--bs-table-lane-hover) !important;
}

.rankings_table:nth-child(even) {
    background-color: var(--bs-gray-100) !important;
}

.rankings_table:hover {
    background-color: var(--white) !important;
}

.rankings_table:hover {
    background-color: var(--bs-table-row-hover) !important;
}

.times_column {
    min-width: 6.5rem;
    max-width: 6.5rem;
}

.times_double_column {
    max-width: 13rem;
}

.rank_column {
    min-width: 4rem;
    max-width: 4rem;
}

.m-n1 {
    margin: -0.25rem !important;
}

.mt-n1 {
    margin-top: -0.25rem !important;
}

.mb-n1 {
    margin-bottom: -0.25rem !important;
}

.ms-n1 {
    margin-left: -0.25rem !important;
}

.me-n1 {
    margin-right: -0.25rem !important;
}
