:root {
    --bs-gray-950: #15171a;
}

.header {
    border-color: var(--bs-gray-800) !important;
}

.header img{
    height: 3.3rem;
    cursor: pointer;
    padding-bottom: 0.5rem;
    padding-right: 0.5rem;
}

.header img:hover {
    transform: scale(1.2);
}

.menu {
    width: 17rem;
    height: calc(100vh - 4.27rem - 7rem - 0.125rem);
    border-color: var(--bs-gray-800) !important;
    background-color: var(--bs-gray-950) !important;
}

.menu li:hover {
    background-color: var(--bs-gray-800) !important;
    border-radius: var(--bs-nav-pills-border-radius) !important;
}

.menu li:hover img {
    transform: scale(1.2);
}

.menu img {
    height: 3rem;
    width: 3rem;
}

.content_panel {
    position: relative;
    height: calc(100vh - 4.27rem - 7rem - 0.125rem);
    overflow: auto;
}

.footer {
    border-color: var(--bs-gray-800) !important;
    bottom: 0;
}

.footer img {
    height: 5rem;
}

.btn_icon {
    width: 17rem;
}

.btn_icon img {
    height: 3rem;
}

.btn_icon:hover img {
    transform: scale(1.2);
}

.login_form {
    width: 17rem;
}