.btn_team_table_icon img {
    height: 1.5rem;
}

.btn_team_table_icon:hover img {
    transform: scale(1.5);
}

.btn_team_table_icon {
    border: 0;
}

.team_table_buttons {
    min-width: 8rem !important;
    max-width: 8rem !important;
}

.form-switch input[type=checkbox] {
    margin-left: 0;
    margin-top: 0;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    opacity: 1;
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: inner-spin-button !important;
    width: 25px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    height: 100%;
}

.input-group.input-error {
    outline: 0;
    box-shadow: 0 0 0 .25rem rgba(255, 0, 0, .25) !important;
}

.progress {
    height: 4rem;
    border-radius: 0;
}

.team_progress {
    min-width: fit-content;
}

.error {
    margin-top: -1rem !important;
}

.errorlist {
    padding: 0 0.75rem;
}

.error li {
    list-style-type: none;
}

.id_col {
    min-width: 3rem !important;
    max-width: 3rem !important;
}

.team_table_date {
    min-width: 6rem !important;
    max-width: 6rem !important;
}

.teams_list {
    background-color: var(--bs-white) !important;
}

.teams_list:nth-child(even) {
    background-color: var(--bs-gray-100) !important;
}

.teams_list:hover {
    background-color: var(--bs-table-row-hover) !important;
}

.team_edit {
    background-color: var(--bs-primary-100) !important;
    outline: 1px solid var(--bs-primary) !important;
}

input[type=date]::-webkit-calendar-picker-indicator {
    padding-left: 0.5rem;
}
