.team_form {
    width: 50%;
    min-width: 500px;
}

.btn_team {
    width: 200px;
}

.btn_team_icon img {
    height: 50px;
}

.btn_team_icon:hover img {
    transform: scale(1.2);
}

.btn_team_table_icon img {
    height: 30px;
}

.btn_team_table_icon:hover img {
    transform: scale(1.5);
}

.btn_team_table_icon {
    border: 0;
}

.team_table_buttons {
    width: 130px !important;
}

.form-switch input[type=checkbox] {
    margin-left: 0;
}

.form-date input[type=date] {
    text-align: center!important;
    padding: 0 0.25rem!important;
}

.progress {
    height: 30px;
    border-radius: 0;
}

.team_active {
    background-color: var(--bs-green) !important;
    filter: brightness(1.2) saturate(0.7) hue-rotate(-30deg);
}

.team_inactive {
    background-color: var(--bs-gray-400) !important;
}

.team_wait {
    background-color: var(--bs-warning) !important;
    filter: brightness(1.0) saturate(1.0);
}

.error {
    margin-top: -1rem !important;
}

.errorlist {
    padding: 0 0.75rem;
}

.error li {
    list-style-type: none;
}

/*
#teams {
    color: #3b92e4;
}

#teams:hover {
    background-color: #275377;
}

.edit_team  {
    padding: 0 0 10px;
    border-bottom: 1px solid #292827;
    margin-bottom: 20px;
}

.errorlist {
    color: #bb3500;
    font-size: 1.0em;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.team_list {
    padding: 0;
    color: #cacaca;
}

.submit_team button {
    float: left;
}

.team_icon {
    display: table-cell;
    vertical-align: middle;
}

.btn_team_icon {
    background-color: transparent;
    border: 0;
}

.team_icon img {
    padding: 5px;
    width: 30px;
    opacity: 0.8;
}

.team_icon img:hover {
    padding: 0;
    width: 40px;
    opacity: 1.0;
}

.team_header h2 {
    font-size: 1.5em;
    color: #cacaca;
}

.team {
    display: table-row;
    margin-top: 5px;
    background-color: #252423;
}

.team:hover {
    background-color: #323130;
}

.team_cell_name {
    display: table-cell;
    vertical-align: middle;
    padding: 10px;
    font-weight: bold;
    color: #ffb900;
    width: 25%;
}

.team_cell {
    display: table-cell;
    vertical-align: middle;
    padding: 10px;
}

.team_cell:first-child {
    color: #9dd41d
}

.team_cell_name.inactive {
    color: #ffb90064;
}

.team_cell.inactive:not(:first-child) {
    color: #cacaca64;
}

.team_list_content {
    display: table;
    border-spacing: 0 2px;
}

#add_form {
    width: 100%;
    max-width: 1000px;
}

#mod_form {
    width: 100%;
    max-width: 1000px;
}

.edit_team form {
    color: #cacaca;
}

.team_form {
    display: flex;
}

.form_control {
    min-width: 200px;
    width: calc(100% - 20px);
    height: 35px;
    background-color: #343332;
    border-radius: 5px;
    border: 0;
    color: #cacaca;
    padding: 0 10px;
    font-size: 1.0em;
}

.form_control:focus-visible {
    outline: 1px solid #0078D4;
}

.form_control_check {
    background-color: #1b1a19;
    margin: 0;
    padding: 0;
    cursor: pointer;
    appearance: none;
}

.form_control_check:before {
    content: "";
    display: inline-block;
    width: 40px;
    height: 40px;
    background-position: center;
    background-image: url('/static/images/inactive.svg');
    background-size: 40px;
}

.form_control_check:checked:before {
    background-image: url('/static/images/active.svg');
    background-size: 40px;
}
*/