.timetable_header {
    border-left: 0.5rem solid var(--bs-white) !important;
    background-color: var(--bs-white) !important;
}

.timetable_race {
    z-index: 1;
    border-left: 0.5rem solid var(--bs-secondary-300) !important;
    background-color: var(--bs-white) !important;
}

.timetable_race:nth-child(even) {
    background-color: var(--bs-gray-100) !important;
}

.timetable_race:hover {
    background-color: var(--bs-table-row-hover) !important;
}

.timetable_lane {
    z-index: 2;
}

.timetable_lane:hover {
    background-color: var(--bs-table-lane-hover) !important;
}

.race_finished {
    border-left: 0.5rem solid var(--bs-success-200) !important;
}

.race_started {
    border-left: 0.5rem solid var(--bs-warning-200) !important;
}

.current_race {
    border-left: 0.5rem solid var(--bs-primary-200) !important;
    outline: 1px solid var(--bs-primary) !important;
    position: relative;
}

.race_edit .btn-primary {
    width: 14rem;
}

.race_edit .btn-secondary {
    width: 12rem;
}

.race_edit .btn_icon img {
    height: 2rem;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

.col_select_race {
    min-width: 10rem !important;
    max-width: 15rem !important;
}

.col_skipper_control {
    max-width: 15rem !important;
}

.col_times {
    min-width: 13rem !important;
    max-width: 13rem !important;
}

.col_time {
    min-width: 5rem !important;
    max-width: 5rem !important;
}

.col_num {
    min-width: 3.5rem !important;
    max-width: 3.5rem !important;
}

.col_skipper {
    min-width: 8rem !important;
    max-width: 8rem !important;
}

.timetable_race .race_display .timetable_lane .col_time {
    cursor: pointer;
}
