.timetable_form {
    min-width: 45rem;
    max-width: 45rem;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    opacity: 1;
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: inner-spin-button !important;
    width: 20px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    height: 100%;
}

.btn_icon.btn-danger {
    filter: saturate(0.8);
}

.timetable_race:nth-child(even) {
    background-color: var(--bs-gray-100) !important;
}

.timetable_race {
    background-color: var(--bs-white) !important;
}

.timetable_race:hover {
    background-color: var(--bs-table-row-hover) !important;
}

.timetable_lane {
    z-index: 2;
    cursor: pointer;
}

.timetable_lane:hover {
    background-color: var(--bs-table-lane-hover) !important;
}

.col-1 {
    min-width: 4rem;
}

.col_skipper {
    min-width: 7rem;
    max-width: 7rem;
}

.edit_icon img {
    height: 2rem;
    cursor: pointer;
    opacity: 0.5;
}

.edit_icon:hover img {
    transform: scale(1.2);
    opacity: 1.0;
}

.edit_race_icon img {
    height: 1.5rem;
    cursor: pointer;
    opacity: 0.2;
}

.edit_race_icon:hover img {
    transform: scale(1.2);
    opacity: 1.0;
}