.timetable_form {
    min-width: 45rem;
    max-width: 45rem;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    opacity: 1;
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: inner-spin-button !important;
    width: 20px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    height: 100%;
}

.btn_icon.btn-danger {
    filter: saturate(0.8);
}

.timetable_race {
    z-index: 1;
    background-color: var(--bs-gray-100) !important;
}

.timetable_race:nth-child(odd) {
    background-color: var(--bs-gray-200) !important;
}

.timetable_race:hover {
    filter: brightness(0.97);
}

.timetable_lane {
    z-index: 2;
    background-color: var(--bs-gray-100) !important;
}

.timetable_race:nth-child(odd) .timetable_lane {
    background-color: var(--bs-gray-200) !important;
}

.timetable_lane:hover {
    filter: brightness(0.97);
}
