.timetable_form {
    min-width: 45rem;
    max-width: 45rem;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    opacity: 1;
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: inner-spin-button !important;
    width: 25px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    height: 100%;
}
.btn_icon.btn-danger {
    filter: saturate(0.8);
}

.timetable_race {
    z-index: 1;
}

.timetable_race:nth-child(even) {
    background-color: var(--bs-gray-200) !important;
}

.timetable_race:hover {
    background-color: var(--bs-gray-300) !important;
}

.timetable_lane {
    z-index: 2;
}

.timetable_lane:hover {
    background-color: var(--bs-gray-400) !important;
}

/*
#timetable {
    color: #3b92e4;
}

#timetable:hover {
    background-color: #275377;
}

.btn p {
    width: 200px;
}

.btn_create_timetable {
    background-color: #772727;
    border: 1px solid #8f2f2f;
}

.btn_create_timetable:hover {
    background-color: #c2361e;
    border: 1px solid #dd3b3b;
}

.btn_create_timetable p {
    border-left: 1px solid #8f2f2f;
}

.btn_create_timetable:hover p {
    border-left: 1px solid #dd3b3b;
}

.content {
    color: #cacaca;
}

.timetable_settigs {
    padding: 0 0 10px;
    border-bottom: 1px solid #292827;
    margin-bottom: 20px;
}

.timetable_settings_controls {
    float: left;
    margin-bottom: 20px;
    margin-left: 20px;
}

input[type=number] {
    position: relative;
    padding: 5px;
    padding-right: 25px;
}

input[type=time] {
    position: relative;
    padding: 5px;
    padding-right: 25px;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    opacity: 1;
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: inner-spin-button !important;
    width: 25px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    height: 100%;
}

.control {
    height: 30px;
    margin: 5px 0;
}

.control label {
    float: left;
    width: 250px;
    height: 30px;
}

.control input {
    float: right;
    width: 80px;
    height: 100%;
    text-align: right;
    background-color: #343332;
    color: #cacaca;
    border-radius: 5px;
    border: 0;
    font-size: 1.0em;
}

.control input:focus-visible {
    outline: 1px solid #0078D4;
}

.timetable_header h2 {
    font-size: 1.5em;
}

.timetable {
    display: table;
    border-spacing: 0 10px;
    margin-bottom: 10px;
}

.tt_race_block {
    display: table-row;
    background-color: #252423;
}

.tt_race_block:hover {
    background-color: #323130;
}

.tt_event_block {
    display: table-row;
    background-color: #275377;
}

.tt_event_block div {
    padding: 3px 5px 3px;
}

.tt_race_block div {
    padding: 0 0 0 5px;
}

.tt_race_block .tt_content .desc {
    min-width: 70px;
}

.tt_event_block:hover {
    background-color: #3b92e4;
}

.tt_content {
    display: table-cell;
    border-collapse: collapse;
}

.time {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    width: 60px;
}

.desc {
    display: table-cell;
    padding: 5px;
    vertical-align: middle;
    font-weight: bold;
    font-size: 1.2em;
    text-align: center;
}

.lanes {
    display: table-cell;
    width: 100%;
}

.lane {
    display: flex;
    flex-flow: row;
    flex-wrap: nowrap;
}

.lanes div {
    padding: 3px 0;
}

.lane:hover {
    background-color: #464544;
}

.lane:not(:last-child) {
    border-bottom: 2px solid #1b1a19;
}

.number {
    text-align: center;
    padding: 5px;
    font-weight: bold;
    min-width: 60px;
    width: 5%;
}

.team {

    padding: 5px;
    color: #ffb900;
    width: 30%;
}

.company {
    padding: 5px;
    width: 65%;
}

.tt_race_header div {
    vertical-align: bottom;
    padding-bottom: 0;
    font-weight: normal;
    border-spacing: 0;
    font-size: 12px;
    color: #9b9b9b;
    background-color: #1b1a19;
}

.tt_race_header .lane {
    padding: 0;
}

.refresh_timetable {
    display: flex;
    width: 100%;
}

.refresh_timetable button {
    float: left;
}
*/
